<%- include("../partials/header")%>

    <!-- Button trigger modal -->
    <div class="container">

        <div class="container mx-5 my-5">
            <div class="row mx-5">
                <div class="col-md-8">
                    <div class="card">
                        <h5 class="modal-title text-center">Editar rol</h5>
                        <div class="card-body">
                            <form action="/permisos/update/<%=permisos._id%>" method="post">
                                <div class="form-group mt-2">
                                    <input type="text" name="nombre" value="<%= permisos.nombre %>" class="form-control">
                                </div>
                                <div class="form-group mt-2">
                                    <input type="text" name="estado" value="<%= permisos.estado %>" class="form-control">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mt-4" required>Guardar</button>
                                    <button type="button" class="btn btn-secondary mt-4"
                                        data-bs-dismiss="modal">Cancelar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <%- include("../partials/footer")%>